@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --primary-color: #2A5CFF;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: '';
  width: 275px;
}

.navbar {
  background: var(--primary-color);
  margin: 0;
  width: 275px;
  height: 35px;
}

.navbar .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 225px auto;
      grid-template-columns: 225px auto;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.navbar .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.navbar .left-part img {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.navbar .left-part h1 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 17.5px;
}

.navbar .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 0.6em;
}

.navbar .right-part .info {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.navbar .right-part .sett {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.hero1.exit {
  display: none;
}

.hero1 {
  background: #E5E5E5;
}

.hero1 h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.hero1 .description ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.hero1 .description ul li {
  font-size: 13px;
  margin-top: 10px;
}

.hero1 .change-log .change-cta ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: center;
}

.hero1 .change-log .change-cta ul li {
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
}

.hero1 .change-log .change-cta ul li .line {
  position: fixed;
  left: 0;
  width: 275px;
  height: 1.5px;
  background: var(--primary-color);
}

.hero1 .change-log .changes ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: center;
  width: 275px;
  height: 45px;
  overflow: auto;
}

.hero2.exit {
  display: none;
}

.hero2 {
  padding-bottom: 5px;
  background: #E5E5E5;
}

.hero2 h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.hero2 ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-top: 10px;
  list-style: none;
  text-decoration: none;
}

.hero2 ul li {
  margin: 0;
  padding: 0;
  left: 0;
}

.hero2 .save-but {
  text-align: center;
  background-color: var(--primary-color);
  width: 20%;
  margin-left: 40%;
  margin-top: 10px;
  border-radius: 5em;
  font-size: 150%;
  color: #E5E5E5;
  cursor: pointer;
}

.footer {
  background: #ACACAC;
  position: relative;
}

.footer .made-by {
  margin-left: 5px;
  padding-top: 3px;
}

.footer ul {
  margin: 0;
  padding-left: 5px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul .con {
  margin-left: 56px;
}
/*# sourceMappingURL=main.css.map */